/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets'; 
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif; 
}

body {
    
}

.navbar, .home-callout {
    font-family: 'Josefin Sans', sans-serif;
    border: none; 
    background: rgb(111,0,255);
    background: linear-gradient(90deg, rgba(111,0,255,1) 0%, rgba(132,145,255,1) 23%, rgba(108,230,255,1) 100%);
} 

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a { 
    font-size: 20px;
    color: white; 
    padding-bottom: 15px; 
    &:hover {
        color: white;
        opacity: 0.75; 
    }
}

.home-callout {
    margin-top: -30px; 
    padding-top: 50px; 
    padding-bottom: 100px;
    color: white;
} 

.nulllink { 
  font-size: 15pt; 
  padding: 15px;
  background: rgba(0,0,0,0);
  transition: background 1s, font-size 1s; 
  background-clip: content-box;
    &:hover {
    font-size: 30pt;
    background: rgba(255,0,100,0.5);
    background-clip: content-box;
    text-decoration: none; 
    cursor: pointer;
    }
}

.navbar-brand {
    font-weight: 1000;
}

.grid-container {
    display: grid;
    gap: 1rem;
  }
  
.grid-item {
    background: gray;
    text-align: center;
    padding: 10rem;
    margin-right: 25px;
    margin-left: 25px;
  }
  